## Data Structures

1. Lists 
2. Dictionary
3. Tuples
4. Sets

### 1. Lists

1. all the elements are enclosed by [] can include int, float, strings
2. Mutable
3. Indexed
4. Ordered
5. It allows duplicate values

In [2]:
list1 = [10,23,46,"name",True ]
list1[-1] = False # mutable
list1

[10, 23, 46, 'name', False]

In [4]:
list2 = [10,20,30,40,50]
print(len(list2))
print(min(list2))
print(max(list2))

5
10
50

In [5]:
name ="python"
list(name)
print(list(name))

['p', 'y', 't', 'h', 'o', 'n']

In [6]:
s =0
for i in list2:
    s +=i
print(s)

150

In [8]:
list3 = [12,23,4,5,6,5,7,78,787,345]
for i in list3:
    if i % 2 == 0:
        print(i)

12
4
6
78

In [10]:
list2

[10, 20, 30, 40, 50]

### Adding Elements to Lists
 - append()
 - extend([])
 - insert(pos,num)

In [16]:
list2.append(50)
list2

[10, 20, 30, 40, 50, 50, 50, 50, 50, 50, 50]

### deleting elements
1. pop() ----- removes element by index- default vaule is -1 i.e., last element in the list
2. remove ----- removes specified number
3. clear --- removes all the elements from the list

In [27]:
list1 = [10,20,30,40,50, 50]
list1.pop(1)

20

In [28]:
list1.remove(50) # removes first occurance of element 50
list1

[10, 30, 40, 50]

In [30]:
list3=[1,2,3,2,4,3,2,5] # removes n occurances of repeated value
set(list3)

{1, 2, 3, 4, 5}

In [33]:
list3.clear()
list3

[]

In [37]:
list1 = [1,2,3,5,4,5]
list2 = list1.copy()
list2

[1, 2, 3, 5, 4, 5]

In [38]:
list3 = list1 # changes made after in list1 is reflected if assignment ""='' is used
list1.append(6)
print(list1)
print(list2)
print(list3)

[1, 2, 3, 5, 4, 5, 6]
[1, 2, 3, 5, 4, 5]
[1, 2, 3, 5, 4, 5, 6]

In [39]:
list1.index(5) # only first occurance is indexed

3

In [44]:
for i in range(0,len(list1)):
    if i == 5:
        print(list1.index(list1[i], i,len(list1)))

5

## Tuples

Immutable, enclosed by (), ordered, indexed

**Built in functions**: min, max, len, tuple

**Built in methods** : count, index

In [3]:
list1 = [1,2,3,6,7]
tuple(list1)

(1, 2, 3, 6, 7)

## Sets

1. enclosed by {}
2. Mutable
3. doesn not allow duplicte values
4. not Indexed
5. unordered

In [5]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
A.intersection(B)

{4, 5, 6}

In [7]:
A.isdisjoint(B)

False

In [8]:
A - B # elements of not present in B

{1, 2, 3}

In [9]:
A.difference(B)

{1, 2, 3}

In [10]:
B.difference(A)

{7, 8, 9}

In [21]:
A.issubset(B)

True

In [22]:
C = {1,2,3,4,5,6,7,8,9}
A.issubset(C)

True

In [23]:
C.issuperset(A)

True

In [24]:
C.issuperset(B)

True

In [25]:
A.symmetric_difference(B)# union of A- B and B- A

{7, 8, 9}

In [29]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
print(A.symmetric_difference_update(B))

None

In [27]:
print (A.intersection_update(B))

None