## Functions

In [3]:
def even_or_odd(n):
    if n%2 == 0:
        print("Even")
    else:
        print("ODD")
    return 
var = even_or_odd(12)
print(var)

Even
None

In [6]:
def add_strings(x,y):
    return (x+y)
string = add_strings('welcome', 'everyone')
print (string)

welcomeeveryone

In [8]:
#square
def square(n):
    x = n * n
    return x
def cube(n):
    y = n*square(n)
    return y
print (cube(3))

27

In [9]:
#square
def square(n):
    return n * n
def cube(n):
    return n*square(n)
print (cube(3))

27

## Anonymous Function or Lambda function : 
**when a function has single line of code ananymous functions or Lambda function can be used**
**Syntax 
(lamba variable: func)(input variable)

In [10]:
(lambda x : x * x)(5)

25

In [11]:
s = (lambda x : x * x) # here s is function object
s(6)

36

In [12]:
(lambda x,y: x*y)(3,5)

15

In [13]:
(lambda x,y,z: min(x,y,z))(3,6,8)

3

### map Function:
**Syntax**
map(func, iterable object(like lists, tuples, dic, set))

In [18]:
map(lambda x : x ** 3,[1,2,3,4])

In [20]:
list(map(lambda x : x ** 3,[1,2,3,4]))

[1, 8, 27, 64]

In [29]:
tuple(map(lambda x : x ** 3,(1,2,3,4)))

(1, 8, 27, 64)

In [16]:
list1 = [1,2,3,4]
list2 =[]
for i in list1:
        list2.append(i**3)
print (list2)

[1, 8, 27, 64]

In [25]:
def add(x,y):
    return x +y
list(map(add,[10],[20]))

[30]

In [26]:
list(map(add,[10,20],[20,30]))

[30, 50]

In [30]:
list(map(len,"preeti"))

[1, 1, 1, 1, 1, 1]

In [31]:
list(map(len,("preeti",))) # "preeti is considered a tuple if you keep , if not it is string"

[6]

In [34]:
list(map(int,input().split()))# unpacking - input is a string and it is split into strings

10 20 30

[10, 20, 30]

In [33]:
a,b,c = list(map(int,input().split()))
print(a + b + c)

10 20 30
60

In [41]:
a, b, c = [10,20,30]
a

10

In [42]:
list(filter(lambda x : x%2 == 0, [1,2,3,3,5,6,7,8] ))

[2, 6, 8]

In [43]:
list(map(lambda x : x%2 == 0, [1,2,3,3,5,6,7,8] ))

[False, True, False, False, False, True, False, True]

In [44]:
tuple(filter(lambda x : x%2 == 0, [1,2,3,3,5,6,7,8] ))

(2, 6, 8)

## reduce()

In [45]:
from functools import reduce
reduce(lambda x,y : x+y,[1,2,3,4,5,6,7,8,9,10])

55

In [46]:
reduce(lambda x,y : x*y,[1,2,3,4,5,6,7,8,9,10])

3628800

In [ ]:
help("functools") # gives the other functions in functools

In [ ]:
help("modules") - gives all the list of  modules

## enumerate()
gives index value of the list of elements

In [1]:
list(enumerate([10,20,30]))

[(0, 10), (1, 20), (2, 30)]

In [2]:
for index, value in enumerate([10,20,30]):
    print(index, value)

0 10
1 20
2 30

In [4]:
# to start from 1
for index, value in enumerate([10,20,30],1):
    print(index, value)

1 10
2 20
3 30

In [5]:
list1 = [1,2,3,4,5,6]
list2 = [3,4,5,6,7,8]
for x, y in zip(list1,list2):
    print(x+y)

4
6
8
10
12
14

In [8]:
# if one of the list has fewer elements then only that no. will be taken care
list1 = [1,2,3,]
list2 = [3,4,5,6,7,8]
list3 = []
for x, y in zip(list1,list2):
    list3.append(x+y)
list3

[4, 6, 8]

 ### Idiomatic programming

In [10]:
list4 =[x+y for x, y in zip(list1,list2)]
list4

[4, 6, 8]

## Comprehensive programming

In [19]:
list2 = [6,7,8,9,10,11,12]
list5 = [i  for i in list2 if i%2 == 0]
list5

[6, 8, 10, 12]

In [21]:
# swapping two numbers
a = 10
b= 30
print ("before swaping values of a & b", a,b)
a,b = b,a
print ("After swaping values of a & b", a,b)

before swaping values of a & b 10 30
After swaping values of a & b 30 10

In [24]:
a = 20
b = 30
c = 40
if a<b<c:
    print(" a is smaller")

 a is smaller

In [ ]:
#using in function
if letter in ['a','e','i','o','u']:
if letter in "aeiou":
# multiple assignment
x=y=z=10

### Built in packages
1. using import
2. using alias names
3. using from and import

In [27]:
import math # using import functions
math.sqrt(16)

4.0

In [28]:
math.factorial(5)

120

In [29]:
print(math.sin(45))
print(math.ceil(12.345))
print(math.floor(12.345))

0.8509035245341184
13
12

In [31]:
import math as m # using alias names
m.fabs(-25)

25.0

In [32]:
from math import * # importing all functions from math 
sin(45)

0.8509035245341184

In [33]:
import datetime
datetime.datetime.now()

datetime.datetime(2020, 8, 14, 12, 50, 40, 737383)

In [34]:
import datetime
x = datetime.datetime.now()
x

datetime.datetime(2020, 8, 14, 12, 51, 4, 333299)

In [42]:
import datetime
datetime.datetime.now(y,m,d)

NameError: name 'd' is not defined